span {
  font-size: larger;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serifs;
  font-weight: bold;
  width: 800px;
  height: 500px;
  background-color: gainsboro;
  display: inline-block;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}
